.laoding_root{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 888;
    .content{
        background-color: #ffffff;
        border-radius: 0.5rem;
        width: 9.4rem;
        height: 3.5rem;
        align-items: center;
        justify-content: center;
        display: flex;
        .text{
            margin-left: 0.5rem;
            color: #444;
            font-size: 1.12rem;
        }
    }
}
