@import "../../css/colors.css";
@import "../../css/units.css";
@import "../../css/z-index.css";

.menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;

    /*
        For most things, we shouldn't explicitly set height, and let the
        content push the element to whatever fits. Using a fixed height
        instead, will help us subtract the value we assign from the body,
        adding up to a perfect 100%. This means we don't need to set
        overflow: hidden, which makes it hard to debug. border-box
        simplifies by all of this by removing padding from the equation.
    */
    box-sizing: border-box;
    height: $menu-bar-height;

    /*
        @todo: This adds ~20px in Chrome, when scrolling to the right,
        but fixes [FFx + Safari] [resize window down + scroll to the right] bug.
        width: 100%;
    */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: $menu-bar-standard-font-size;
    font-weight: bold;
    background-color: $motion-primary;
    color: $ui-white;
}

.main-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    flex-grow: 1;
}

.scratch-logo {
    height:  1.6rem;
    vertical-align: middle;
    margin-right: 0.5rem
}

.scratch-file {
    height:  0.8rem;
    vertical-align: middle;
    margin-right: 0.3rem
}

.scratch-logo.clickable {
    cursor: pointer;
}

.language-icon {
    height:  1.5rem;
    vertical-align: middle;
}

.language-caret {
    margin: 0 .125rem;
}

.language-menu {
    box-sizing: border-box;
    display: inline-flex;
    width: $language-selector-width;
}

.menu-bar-item {
    display: flex;
    padding: 0 0.25rem;
    text-decoration: none;
    color: $ui-white;
    user-select: none;
    align-self: center;
    position: relative;
    align-items: center;
    white-space: nowrap;
    height: $menu-bar-height;
}

.menu-bar-publish {
    display: flex;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    text-decoration: none;
    color: #616161;
    user-select: none;
    align-self: center;
    position: relative;
    align-items: center;
    white-space: nowrap;
    height: 1.4rem;
    background: #FFDC4F;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    border-radius: 0.2rem;
}

.menu-bar-item.hoverable {
    cursor: pointer;
}

.menu-bar-item.active,
.menu-bar-item.hoverable:hover {
    background-color: $ui-black-transparent;
}

.menu-bar-item.growable {
    max-width: $menu-bar-item-max-width;
    flex: 1;
}

.title-field-growable {
    flex-grow: 1;
    width: 2rem;
    background-color: #00BDDA;
    border:1px solid rgba(0,168,194,0.59)
}

.file-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.file-group .menu-bar-item {
    padding: 0 0.75rem;
}

.menu-bar-item.language-menu {
    padding: 0 0.5rem;
}

.menu-bar-menu {
    margin-top: $menu-bar-height;
    z-index: $z-index-menu-bar;
}

.feedback-link {
    color: $motion-primary;
    text-decoration: none;
}

.feedback-button {
    background-color: $ui-white;
    height: 34px;
}

.divider {
    margin: 0 .5rem;
    height: 14px;
}

.author-info {
    margin-left: .25rem;
    margin-right: .6875rem;
}

.menu-bar-button {
    height: $menu-bar-button-size;
}

.remix-button {
    background-color: $pen-primary
}

.remix-button-icon {
    height: 1.25rem;
}

.coming-soon >:not(.coming-soon-tooltip) {
    opacity: 0.5;
}

.account-info-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.account-info-group .menu-bar-item {
    padding: 0 0.75rem;
}

.mystuff-icon {
    margin: 0 .25rem;
    height: 1rem;
}

.help-icon {
    height:1rem;
    margin-right: 0.35rem;
}
.login-icon{
    margin-right: 0.35rem;
    height: 0.8rem;
}

.user-avatar{
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 0.8rem;
}

.login-out-icon{
    margin-right: 0.35rem;
    height: 1rem;
}

.account-nav-menu, .mystuff-button {
    padding: 0 .25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-icon {
    margin: 0 .25rem;
    width: $menu-bar-button-size;
    border-radius: $form-radius;
}

.dropdown-caret-icon {
    width: 0.5rem;
    height: 0.5rem;
}

[dir="ltr"] .dropdown-caret-icon {
    margin-left: .5rem;
}

[dir="rtl"] .dropdown-caret-icon {
    margin-right: .5rem;
}

.disabled {
    opacity: 0.5;
}

.mystuff > a {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 45%;
  padding-right: 10px;
  padding-left: 10px;
  width: 30px;
  overflow: hidden;
  text-indent: 50px;
  white-space: nowrap;
}
.mystuff > a:hover {
  background-size: 50%;
}

.mystuff > a {
  background-image: url("/images/mystuff.png");
}
