html,
body,
.app {
    /* probably unecessary, transitional until layout is refactored */
    width: 100%;
    height: 100%;
    margin: 0;

    /* Setting min height/width makes the UI scroll below those sizes */
    min-width: 720px;
    min-height: 540px; /* Min height to fit sprite/backdrop button */
}

/* @todo: move globally? Safe / side FX, for blocks particularly? */
* { box-sizing: border-box; }
