.leave-a-message{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #54C3D4;
    border-radius: 2px;
    padding: 4px 4px 4px 4px;
    align-items: center;
    justify-content: center;
    right: 20px;
    bottom: 170px;
    cursor: pointer;
    .img{
        width: 12px;
        height: 11px;
    }
    .text{
        font-size: 8px;
        margin-top: 4px;
        color: white;
    }
}
.leave-a-message-popup{
    position: absolute;
    z-index: 888;
    bottom: 240px;
    right: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 390px;
    height: 420px;
    background-color: #ffffff;
    align-items: center;
    .head{
        position: relative;
        display: flex;
        height: 42px;
        width: 100%;
        align-items: center;
        justify-content: center;
        .title{
            font-size: 14px;
            color: #444444;
        }
        .close{
            position: absolute;
            right: 0;
            top: 0;
            width: 24px;
            height: 24px;
            padding-top: 12px;
            padding-right: 12px;
            cursor: pointer;
        }
    }
    .input-root{
        position: relative;
        margin: 0 12px 0 12px;
        width: calc(100% - 24px);
        height: 272px;
        .content{
            padding: 14px 12px 14px 12px;
            border-radius: 2px 2px 2px 2px;
            background-color: rgba(249, 249, 249, 1);
            border: 1px solid rgba(239, 239, 239, 1);
            height: 272px;
            width: 100%;
        }
        .text-change{
            font-size: 12px;
            color: #999999;
            position: absolute;
            right: 6px;
            bottom: 6px;
        }
    }
    .explain-root{
        display: flex;
        width: 100%;
        margin-left: 15px;
        margin-top: 6px;
        align-items: center;
        .explain-text{
            color: #444444;
            font-size: 12px;
            margin-right: 4px;
        }
        .explain-img{
            width: 14px;
            height: 17px;
        }
    }
    .button{
        background-color: #54C3D4;
        height: 28px;
        width: 136px;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        border-radius: 14px;
        color: #ffffff;
        font-size: 14px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 28px;
        margin-bottom: 28px;
    }

}
