
.weixing-login{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 888;
    display: flex;
    justify-content: center;
    align-items: center;
    .iframe-style{
        background-color: white;
        width: 534px;
        height: 511px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 61px;
    }
}
