
.bind-root{
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  .bind-bg{
    width: 534px;
    height: 394px;
    background-color: #FFFFFF;
    border-radius: 5px;
    overflow: hidden;
    .header{
      height: 54px;
      background-color: #54C3D4;
      display: flex;
      align-items: center;
      .logo-img{
        margin-left: 24px;
        width: 21px;
        height: 36px;
      }
      .logo-title{
        margin-left: 8px;
        font-size: 20px;
        color: #FFFFFF;
      }

    }
    .body{
      margin-left: 74px;
      margin-right: 74px;
      .bing-title{
        margin-top: 50px;
        font-size: 14px;
        color: #666666;
      }
      .input-number{
        margin-top: 14px;
        height: 43px;
      }
      .verificvation-code-bg{
        margin-top:18px;
        display: flex;
        justify-content: space-between;
        .input-code{
          width: 262px;
          height: 43px;
        }
        .verificvation-code{
          width: 100px;
          height: 43px;
        }
      }
      .user-agreement-bg{
        margin-top: 10px;
        color:#999999;
        font-size: 13px;
        .agreement{
          color:#54C3D4;
          cursor: pointer;
        }
      }
      .bind-phone-bg{
        margin-top: 29px;
        display: flex;
        justify-content: center;
        .bind-phone{
          width: 306px;
          height: 43px;
          border-radius: 21.5px;
        }
      }
    }

  }

}
