.show-background{
    z-index: 99;
    position: fixed;
    top:0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .show-video-content{
        width: 1068px;
        background: rgba(0, 0, 0, 0);
        .show-close-div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .show-colse-icon{
                font-size: 32px;
                color: #FFFFFF ;
                opacity: 0.92;
            }
            .show-follow-suit{
                background-color: #54C3D4;
                width: 116px;
                height: 38px;
                padding: 8px 26px 8px 26px;
                font-size: 16px;
                border-radius: 19px;
                margin-bottom: 15px;
                color: #ffffff;
                cursor: pointer;
            }
        }
    }

}
