#user-video {
    //width: 1068px;
    position: relative;
    //height: 650px;

    #media {
        object-fit: fill;
        width: 100%;
        height: 100%;
    }

    .row-position {
        position: absolute;
        width: 100%;
        display: flex;
        align-items: flex-end;
        height: 185px;
        bottom: 0;
    }

    .video-row {
        flex: 1;
        height: 60px;
        background: rgba(76, 76, 76, 0.4);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 32px;

        .video-row-play-button {
            margin-right: 32px;
            color: #fff;
            font-size: 40px;
        }

    }

    .video-row-play-time {
        color: #FFFFFF;
        font-size: 16px;
        margin-right: 12px;
    }

    .video-row-play-time-right {
        color: #FFFFFF;
        font-size: 16px;
        margin-left: 12px;

    }

    .voice-img {
        width: 70px;
        background: rgba(76, 76, 76, 0.4);
        height: 60px;
        padding-left: 32px;
        display: flex;
        align-items: center;
    }

    .voice-img1 {
        background: rgba(76, 76, 76, 0.4);
        height: 60px;
        padding-left: 17px;
        display: flex;
        align-items: center;
    }

    .volume {
        width: 40px;
        height: 120px;
        background: #fff;
        padding: 10px 0;
        margin-left: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ant-slider-track {
        background: #00CAE9;
    }
}
