.ui-scratch-guide{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: PingFangSC-Regular, sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 26px;
    .scratch-cover-not-first{
        transition: all .25s;
    }
    .scratch-guide-cover{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border: 0 solid #000;
        opacity: .30;
        z-index: 998;
        overflow: hidden;
        box-sizing: content-box;
        display: block;
    }
    .scratch-guide-content{
        position: absolute;
        width: 426px;
        z-index: 1000;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        background-color: #E7F9FD;
        align-items: center;
        .close-div{
            display: flex;
            width: 100%;
            justify-content: flex-end;
            cursor: pointer;
        }
        .content-text{
            color: #444444;
            font-size: 18px;
            margin-top: 18px;
            width: 342px;
        }
        .last-and-next{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-top: 24px;
            margin-bottom: 24px;
            .button{
                background-color: #54C3D4;
                border-radius: 18px;
                font-size: 16px;
                width: 98px;
                height: 34px;
                color: #ffffff;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .button-right{
                margin-right: 24px;
            }
        }
        .cartoon {
            position: absolute;
            height: 208px;
            width: 136px;
            bottom: -39px;
            right: -58px;
        }
        .cartoon-left {
            position: absolute;
            height: 238px;
            width: 127px;
            bottom: -15px;
            left: -58px;
        }
    }
    .scratch-guide-first{
        animation: new-guide-show 0.5s ease;
        -webkit-animation: new-guide-show 0.5s ease;
        -moz-animation: new-guide-show 0.5s ease;
        -o-animation: new-guide-show 0.5s ease;
        -ms-animation: new-guide-show 0.5s ease;
    }
    .scratch-guide-other{
        transition: all .3s 0.1s;
        -webkit-transition: all .3s 0.1s;
        -moz-transition: all .3s 0.1s;
        -o-transition: all .3s 0.1s;
        -ms-transition: all .3s 0.1s;
    }
}
